// Whether to rename files as well, true or false
rename = true

// Pairs of find/replace lines below
anvil_eta
anvil_screen

barrel_eta
barrel_screen

beacon_eta
beacon_screen

brewing_eta
brewing_stand_screen

cartography_eta
cartography_screen

crafter_eta
crafter_screen

dispenser_eta
dispenser_screen

double_chest_eta
double_chest_screen

dropper_eta
dropper_screen

enchanting_eta
enchanting_screen

ender_chest_eta
ender_chest_screen

grindstone_eta
grindstone_screen

hopper_eta
hopper_screen

horse_eta
horse_screen

loom_eta
loom_screen

shulker_eta
shulker_screen

small_chest_eta
small_chest_screen

smithing_eta
smithing_table_screen

stonecutter_eta
stonecutter_screen

trade_eta
trade_2_screen

blast_furnace_eta
blast_furnace_screen

furnace_eta
furnace_screen

smoker_eta
smoker_screen
